.row {
  margin-top: 3em;
}

.wrapper {
  display: block;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.header {
  font-weight: lighter;
  font-style: italic;
  text-align: center;
}

.social-media-icons {
  width: 1em;
  margin-right: 1em;
  text-align: center;
}

.highlight {
  font-style: italic;
  color: #22a7f0;
}

.sub {
  font-size: 0.5em;
  color: #22a7f0;
}

.pricing,
.contact {
  text-align: center;
  max-width: 30em;
  margin: auto;
}

button {
  background-color: #22a7f0;
  border-color: #22a7f0;
}

blockquote {
  border-left-color: #22a7f0;
}

b {
  color: #22a7f0;
}

input[type="text"]:focus,
textarea:focus {
  border-color: #22a7f0;
}

h1,
h3 {
  font-family: "Satisfy", cursive;
}
